header.header
        .header__left
            a(href="#").header__link
                img(src="assets/img/pics/logo.png", alt="logo").header__logo
        .header__right
            .header__right-credentials
                span.header__name Дмитрий
                span.header__surname Игнатьев 
            a(href="#").header__logout Выход