doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Pepsico GO
    link(rel='stylesheet' href='assets/css/foundation.css')
    link(rel='stylesheet' href='assets/css/app.css')
    script(src='assets/js/foundation.js' defer)
    link(href='https://fonts.googleapis.com/css?family=Rubik', rel='stylesheet')
  body
    block content       


    
    script(src='assets/js/plugins.js' defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js' defer)
    script(src='assets/js/app.js' defer)
    