// titles 

.title {
	color: white;
    background-color:$main-colour;
    text-transform: uppercase;
    padding: 5px;
    font-size: 20px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}

.title--red {
	background-color:#E72E36;
}

// buttons

.btn--inactive {
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: $bottom-colour;
	padding: 15px 50px;
	border: 2px solid white;
	border-radius: 30px;
	transition:all .3s ease;
	cursor: not-allowed;
}

.btn--status {
	font-size: 18px;
	font-weight: bold;
	color: white;
	background-color: #009639;
	padding: 15px 55px;
	border: 2px solid white;
	border-radius: 30px;
}

.btn--status-inactive {
	background-color: $bottom-colour;
}

.btn--assessment {
	background-color: #F5913B;
}

.btn--active {
	background-color: $main-colour;
	cursor: pointer;
		&:hover {
			box-shadow: 0 2px 4px 0 rgba(0, 76, 151, 0.5);
		}
		&:active {
			background-color: #002568;
		}
}

.btn--white {
	background-color:#fff;
	color: $main-colour;
    border-color: $main-colour;
	cursor: pointer;
		&:hover {
			box-shadow: 0 2px 4px 0 rgba(0, 76, 151, 0.5);
		}
		&:active {
			background-color: #002568;
			color: white;
		}
}

// profile steps

.profile__item--success {
	pointer-events: none;
		.profile__btn {
			background-color: #009639;;
		}
}

.profile__item--active {
	.profile__btn {
		background-color: #F5913B;
	}
	&:hover {
			.profile__item-desc {
				opacity: 1;
				box-shadow: 0 4px 4px 2px rgba(0, 76, 151, 0.5);
			}
			.profile__item-wrap {
				background-color: #00AAE2;
			}
			.profile__title-wrap {
				box-shadow: 0 4px 4px 2px rgba(0, 76, 151, 0.5);
			}
	}
}

.profile__item--inactive {
	pointer-events: none;
	.profile__btn {
		background-color: #C4C9CD;
	}
}

.profile__item--failed {
	.profile__btn {
		background-color: #E72E36;
		cursor: pointer;
	}
}