.wrapper--auth-bg {
    background-image: url('../img/pics/auth.jpg');
    background-size: cover;
    background-position: top center;
    justify-content: space-between;
    padding: 0 100px;
    @include flex(row);
    @include desktop {
        @include flex(column);
        @include flex-align(center);
        background-image: url('../img/pics/rounds.png');
        padding: 0 20px;
    }
}

.title-logo,
.form {
    min-height: 100vh;
    padding: 70px 0;
    @include desktop {
        min-height: auto;
        padding: 10px 0;
    }
}

.title-logo {
    @include flex(column);
    justify-content: space-between;
    @include desktop {
        margin-bottom: 15px;
    }
}

.logo-pic {
    width: 157px;
    height: auto;
}

.title-logo__wrap  {
    max-width: 580px;
        img {
            max-width: 580px;
        }
    @include desktop {
        display: none;
    } 
}

.title--auth {
    font-size: 60px;
    display: inline-block;
    padding: 0px 10px;
    padding-bottom: 0px;
        &:last-child{
            padding-top: 0px;
        }
}

.form,
.form__auth,
.form__inputs-wrap,
.form__password-reset {
    display: flex;
    flex-direction: column;
}

.form {
    @include flex(column);
    @include flex-align(center);
}

.form__auth {
    position: relative;
    background-color: $main-colour;
    padding: 30px 75px;
    border-radius: 10px;
    color: white;
    @include flex(column);
    @include flex-align(center);
    max-width: 470px;
    @include phones {
        max-width: 400px;
        padding: 30px 40px;
    }
}

.form__inputs-wrap {
    width: 100%;
    margin-bottom: 10px;
        input {
            width: 100%;
        }
}

.form__desc {
    font-size: 20px;
    font-weight: bold;
    max-width: 302px;
    text-align: center;
    margin-bottom: 29px;
}

.form__login,
.form__password {
    opacity: 0.8;
    color: $text-colour;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    &:focus {
        border: 1px solid black;
    }
}

.form__appointment-desc {
    font-size: 16px;
    margin-bottom: 10px;
}

.form__appointment-wrap {
    margin-bottom: 25px;
    @include flex(row);
    justify-content: space-around;
}

.form__appointment-input {
    position: absolute;
    left: -9999px;
}

.form__appointment-label {
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 3px transparent;
    transition: border .2s ease-out;
    cursor: pointer;
    &:hover {
        border-bottom: solid 3px #f5913b;
    }
}

.form__appointment-input:checked+.form__appointment-label {
    border-bottom: solid 3px #f5913b;
}

.form__password-desc {
    color: white;
    text-align: center;
}

.form__reset-link {
    color: #f5913b;
    text-decoration: underline;
}

.form__password-reset {
    margin-top: 15px;
}

.form__auth-btn {
    align-self: center;
}