.wrapper--mentor {
    background-color: #fff;
}

.content {
    @include flex(row);
}

.content__left {
    @include flex(column);
    width: 30%;
    @include flex-align(center);
    border-right: 1px solid #d8d8d8;
}

.list__title__wrap {
    @include flex(row);
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 20px 20px;
}

.list__title {
    text-align: center;
    font-size: 20px;
    color: $main-colour;
    text-transform: uppercase;
    margin: 0;
    flex: 1;
}

.list__filter {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 24px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        width: 90px;
        height: 30px;
        top: 10px;
    }
    &:hover {
        .line1,
        .line2,
        .line3 {
            background-color: #C4C9CD;
        }
        .filter__dropdown {
            pointer-events: auto;
            opacity: 1;
        }
    }
}

.filter__top-item {
    position: relative;
    &:hover {
        .filter__label-checkmark {
            background-color: #ccc;
        }
    }
}

.line1,
.line2,
.line3 {
    background-color: #004C97;
}

.line1 {
    height: 3px;
    width: 100%;
    margin-bottom: 3px;
}

.line2 {
    height: 3px;
    width: 65%;
    margin-bottom: 3px;
}

.line3 {
    height: 3px;
    width: 25%;
}

.filter__title {
    align-self: center;
    margin-bottom: 20px;
}

.filter__dropdown {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    @include flex(column);
    width: 320px;
    background-color: #fff;
    top: 40px;
    z-index: 1;
    border-radius: 10px;
    align-items: flex-start;
    padding: 10px;
    left: -149px;
    box-shadow: 0 2px 8px 0 #004c97;
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid #004c97;
        border-color: transparent transparent white white;
        transform-origin: 0 0;
        transform: rotate(-225deg);
        box-shadow: -3px 3px 3px 0 rgba(0, 76, 151, 0.2);
        top: 0;
        left: 175px;
    }
    transition: opacity 0.2s ease-in-out;
}

.filter__top-list {
    border-bottom: 1px solid #c4c9cd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.filter__top-item {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.filter__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.filter__label {
    color: $text-colour;
    font-size: 18px;
    cursor: pointer;
    display: block;
    padding-left: 35px;
}

.filter__label-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 2px solid $main-colour;
    border-radius: 4px;
    cursor: pointer;
    &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 0;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}

.filter__checkbox:checked~.filter__label-checkmark {
    background-color: $main-colour;
}

.filter__checkbox:checked~.filter__label-checkmark:after {
    display: block;
}

.participants-list {
    width: 100%;
    @include flex(column);
}

.participant {
    @include flex(row); // height: 70px;
    position: relative; // justify-content: space-between;
    cursor: pointer;
    padding: 10px 30px;
    &:hover {
        background-color: $main-colour;
        .participant__icon {
            color: $main-colour;
        }
        .participant__left {
            background-color: #fff;
        }
        .participant__time,
        .participant__name {
            color: white;
        }
    }
}

.participant,
.list__title__wrap {
    border-bottom: 1px solid $main-colour;
}

.participant__left {
    height: 40px;
    width: 40px;
    background-color: $main-colour;
    border-radius: 10px;
    display: flex;
    @include flex-align(center);
    margin-right: 20px;
}

.participant__icon {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.participant__middle {
    @include flex(column);
    align-items: flex-start;
}

.participant__name {
    color: #3c3c3c;
}

.participant__tag {
    cursor: pointer;
    font-size: 10px;
    background-color: #C4C9CD;
    color: white;
    text-align: center;
    padding: 2px 5px;
    border-radius: 20px;
}

.participant__right {
    @include flex(column);
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.participant__time {
    font-size: 12px;
    color: $main-colour;
}

.content__right {
    @include flex(column);
    width: 70%;
    margin-left: 30px;
    margin-top: 30px;
    padding-right: 60px;
}

.participant-info {
    @include flex(row);
}

.participant-info__left {
    @include flex(row);
    padding-right: 40px;
    border-right: 1px solid #c4c9cd;
    ;
}

.participant-info__picture {
    width: 180px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.participant-info__desc,
.participant-info__credentials {
    @include flex(column);
}

.participant-info__credentials {
    margin-bottom: 15px;
}

.participant-info__name,
.participant-info__surname {
    color: $main-colour;
    font-size: 20px;
    font-weight: bold;
}

.participant-info__city,
.participant-info__education {
    margin-bottom: 15px;
    color: $text-colour;
}

.participant-info__city-label,
.participant-info__education-label {
    margin-right: 5px;
}

.participant-info__deadline {
    color: $main-colour;
    font-weight: bold;
}

.participant-info__right {
    @include flex(column);
    padding-left: 40px;
}

.participant-info__project {
    @include flex(column);
}

.participant-info__files-text {
    margin: 20px 0;
    color: $text-colour;
}

.participant-info__files {
    @include flex(row);
}

.participant-info__files-image,
.participant-info__files-presentation,
.participant-info__files-docx {
    width: 60px;
    height: 60px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}

.participant-info__files-presentation,
.participant-info__files-docx {
    @include flex(row);
    @include flex-align(center);
    background-color: #EEEFF0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
}

.participant-info__files-image {
    background-image: url('../img/pics/participants/project-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.participant__assessment {
    @include flex(column);
    align-items: flex-start;
    margin-top: 65px;
}

.participant__assessment-desc {
    @include flex(row);
    margin-top: 15px;
}

.participant__assessment-item {
    @include flex(row);
    align-items: baseline;
    margin-right: 15px;
    &:nth-of-type(2) {
        .participant__assessment-circle {
            background-color: #F5913B;
        }
    }
    &:nth-of-type(3) {
        .participant__assessment-circle {
            background-color: #009639;
        }
    }
    &:nth-of-type(4) {
        .participant__assessment-circle {
            background-color: #009639;
        }
    }
}

.participant__assessment-circle {
    width: 15px;
    height: 15px;
    background-color: #E72E36;
    border-radius: 50%;
    margin-right: 10px;
    &:last-child {
        margin: 0;
    }
}

.participant__assessment-info {
    color: $text-colour;
}

.participant__assessment-comment {
    @include flex(column);
    align-items: flex-start;
    margin-top: 70px;
    width: 100%;
}

.participant__assessment-form {
    @include flex(column);
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;
}

.participant__assessment-input {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #c4c9cd;
    padding: 15px 20px;
    &:focus {
        border: solid 1px #004c97;
    }
    margin-bottom: 30px;
}