.wrapper--mentor {
    background-color: $bg-colour;
    position: relative;
}

@media screen and (max-width: 1325px) {
    .wrapper--mentor {
        width: 1325px;
    }
}

.content__left,
.participant,
.participant__assessment,
.participant__assessment-comment
 {
    background-color: #fff;
}
.participant__assessment,
.participant__assessment-comment {
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.participant-info {
    margin-bottom: 10px;
}

.participant-info__left, .participant-info__right {
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #fff;
}

.participant-info__right--project {
    margin-left: 10px;
}

.content {
    @include flex(row);
}

.content__left {
    // @include flex(column);
    width: 27%;
    // @include flex-align(center);
    border-right: 1px solid #d8d8d8;
    position: relative;
}

.list__title__wrap {
    @include flex(row);
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 20px 20px;
}

.list__title {
    text-align: center;
    font-size: 20px;
    color: $main-colour;
    text-transform: uppercase;
    margin: 0;
    flex: 1;
}

.list__filter {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 24px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        width: 90px;
        height: 30px;
        left: -30px;
        top: 10px;
    }
    // &:hover {
    //     .line1,
    //     .line2,
    //     .line3 {
    //         background-color: #C4C9CD;
    //     }
    // }
}

.filter__top-item {
    position: relative;
    &:hover {
        .filter__label-checkmark {
            background-color: #ccc;
        }
    }
}

.line1,
.line2,
.line3 {
    background-color: #004C97;
}

.list__filter--active {
    .line1,
    .line2,
    .line3 {
        background-color: #C4C9CD;
    }
}

.line1 {
    height: 3px;
    width: 100%;
    margin-bottom: 3px;
}

.line2 {
    height: 3px;
    width: 65%;
    margin-bottom: 3px;
}

.line3 {
    height: 3px;
    width: 25%;
}

.filter__title {
    align-self: center;
    margin-bottom: 20px;
}

.filter__dropdown {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    @include flex(column);
    width: 320px;
    background-color: #fff;
    top: 62px;
    right: -127px;
    z-index: 1;
    border-radius: 10px;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 2px 8px 0 #004c97;
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid #004c97;
        border-color: transparent transparent white white;
        transform-origin: 0 0;
        transform: rotate(-225deg);
        box-shadow: -3px 3px 3px 0 rgba(0, 76, 151, 0.2);
        top: 0;
        left: 175px;
    }
    transition: opacity 0.2s ease-in-out;
}

.filter__dropdown--active {
    pointer-events: auto;
    opacity: 1;
    z-index: 999;
}

.filter__top-list {
    border-bottom: 1px solid #c4c9cd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.filter__top-item {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.filter__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.filter__label {
    color: $text-colour;
    font-size: 18px;
    cursor: pointer;
    display: block;
    padding-left: 35px;
}

.filter__label-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 2px solid $main-colour;
    border-radius: 4px;
    cursor: pointer;
    &:after {
        content: "";
        position: absolute;
        display: none;
        left: 5px;
        top: 0;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}

.filter__bottom-list,
.filter__top-list {
    width: 100%;
}

.filter__checkbox:checked~.filter__label-checkmark {
    background-color: $main-colour;
}

.filter__checkbox:checked~.filter__label-checkmark:after {
    display: block;
}

.participants-list {
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    top: 69px;
    min-height: 100%;
}

.participant {
    @include flex(row); // height: 70px;
    position: relative; // justify-content: space-between;
    cursor: pointer;
    padding: 10px 30px;
    width: 100%;
    &:hover {
        background-color: $main-colour;
        // .participant__icon {
        //     color: $main-colour;
        // }
        // .participant__left {
        //     background-color: #fff;
        // }
        .participant__time,
        .participant__name {
            color: white;
        }
    }
}

.participant,
.list__title__wrap {
    border-bottom: 1px solid $main-colour;
}

.participant__left {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    @include flex-align(center);
    margin-right: 20px;
    background-image: url('../img/pics/marketing.png');
    background-size: cover;
    background-position: center;
}

.participant__icon {
    display: inline-block;
}

.participant__middle {
    @include flex(column);
    align-items: flex-start;
}

.participant__name {
    color: #3c3c3c;
}

.participant__tag {
    height: 17px;
    width: 40px;
    display: inline-block;
    line-height: 17px;
    cursor: pointer;
    font-size: 10px;
    background-color: #C4C9CD;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.participant__right {
    @include flex(column);
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.participant__time {
    font-size: 12px;
    color: $main-colour;
}

.content__right {
    @include flex(column);
    width: 73%;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 30px;
}

.participant-info {
    @include flex(row);
}

.participant-info__left {
    @include flex(column);
    width: 50%;
    margin-right: 10px;
    padding-right: 20px;
    border-right: 1px solid #c4c9cd;
    @include desktop {
        padding-right: 10px; 
    }
}

.participant-info__left-wrap {
    @include flex(row);
    flex-wrap: wrap;
}

.participant-info__right {
    width: 25%;
    align-items: flex-start;
}

.participant-info__picture {
    width: 180px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
        img {
            width: 180px;
            height: auto;
            border-radius: 10px;
        }
}

.participant-info__desc,
.participant-info__credentials {
    @include flex(column);
}

.participant-info__credentials {
    margin-bottom: 15px;
}

.participant-info__name,
.participant-info__surname {
    color: $main-colour;
    font-size: 20px;
    font-family: 'Gotham-bold';
}

.participant-info__city,
.participant-info__education {
    margin-bottom: 15px;
    color: $text-colour;
    font-family: 'Gotham Book';
}

.participant-info__city-label,
.participant-info__education-label {
    margin-right: 5px;
}

.participant-info__deadline {
    font-family: 'Gotham-bold';
    color: $main-colour;
    margin-top: 10px;
}

.participant-info__right {
    @include flex(column);
    padding-left: 20px;
}

.participant-info__project {
    @include flex(column);
}

.participant-info__files-text {
    margin: 20px 0;
    color: $text-colour;
    font-family: 'Gotham Book';
}

.participant-info__files {
    @include flex(row);
}

.participant-info__files-image,
.participant-info__files-presentation,
.participant-info__files-docx {
    width: 60px;
    height: 60px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}

.participant-info__files-presentation,
.participant-info__files-docx {
    @include flex(row);
    @include flex-align(center);
    background-color: #EEEFF0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-left: 30px;
    @include laptop-l {
        margin-left: 10px;
    }
}

.participant-info__files-image {
    background-image: url('../img/pics/participants/project-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.participant__assessment {
    @include flex(column);
    align-items: flex-start;
}

.participant__assessment-desc {
    @include flex(row);
    margin-top: 15px;
}

.participant__assessment-item {
    @include flex(row);
    align-items: baseline;
    margin-right: 15px;
    &:nth-of-type(2) {
        .participant__assessment-circle {
            background-color: #F5913B;
        }
    }
    &:nth-of-type(3) {
        .participant__assessment-circle {
            background-color: #009639;
        }
    }
    &:nth-of-type(4) {
        .participant__assessment-circle {
            background-color: #009639;
        }
    }
}

.participant__assessment-circle {
    width: 15px;
    height: 15px;
    background-color: #E72E36;
    border-radius: 50%;
    margin-right: 10px;
    &:last-child {
        margin: 0;
    }
}

.participant__assessment-info {
    color: $text-colour;
    font-family: 'Gotham Book';
}

.participant__assessment-comment {
    @include flex(column);
    align-items: flex-start;
    width: 100%;
}

.participant__assessment-form {
    @include flex(column);
    align-items: flex-end;
    width: 100%;
    margin-top: 9px;
}

.participant__assessment-input {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #c4c9cd;
    padding: 15px 20px;
    &:focus {
        border: solid 1px #004c97;
    }
    margin-bottom: 30px;
}

.participant__rate {
    width: 100%;
    margin-top: 20px;
    @include flex(column);
}

.participant__rate-list {
    @include flex(row);
    width: 100%;
    justify-content: space-around;
}

.participant__rate-item {
    @include flex(column);
    margin-right: 20px;
        &:last-child{
            margin: 0;
        }
}
.participant__assessment-text {
    // max-width: 10%;
}

.participant__assessment-wrap {
    width: 100%;
}

#btnAssestment {
    align-self: flex-end;
}
.participant__rate-title {
    text-align: center;
    font-size: 18px;
    color: $main-colour;
    font-family: 'Gotham-bold';
    max-width: 195px;
    min-height: 50px;
    margin-bottom: 15px;
}

.participant__rate-list {
    @include flex(row);
    align-items: baseline;
    flex-wrap: wrap;
}

.participant__rate-circle {
    text-align: center;
}

.mentor__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.participant-info__files-presentation--project {
    margin-left: 0;
}

.participant__assessment-list,
.participant__assessment-block  {
    @include flex(column);
    width: 100%;;
}

.participant__assessment-top {
    margin: 15px 0;
}

.participant__assessment-wrap {
    background-color: #EDEEF0;
    font-size: 16px;
    color: #2b2b2b;
    padding: 10px 15px;
    border-radius: 10px;
        p {
            font-family: 'Gotham Book';
        }
}

.participant__assessment-name {
    margin-right: 15px;
    vertical-align: middle;
}

.participant__assessment-date {
    color: #c4c9cd;
    vertical-align: middle;
}

.participant__assessment-comment--title {
    color: $main-colour;
    margin-top: 16px;
}

.participant-info__project-title,
.participant-info__project-name {
    text-align: left;
}