// overlay
.profile__modals-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    display: none;
}

// blur effect
.blur {
    filter: blur(10px)
}

// attachments
.profile__modals,
.profile__modals-presentation,
.profile__modals-fail {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: none;
}

.profile__attachments,
.profile__attachments-presentation,
.profile__fail {
    background-color: #fff;
    box-shadow: 0 2px 10px 0 #004c97;
    border-radius: 10px;
    padding: 30px;
    max-width: 450px;
    position: relative;
}

.profile__attachments-form {
    @include flex(column);
    align-items: center;
}

.profile__attachments-title,
.profile__fail-title {
    text-align: center;
}

.profile__attachments-attach {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.profile__attachments-input {
    width: 100%;
    border-radius: 5px;
    background-color: rgba(196, 201, 205, 0.3);
    border: solid 1px #c4c9cd;
    padding: 20px 15px;
    margin: 20px 0;
    &:focus {
        border-color: $main-colour;
    }
}

.profile__attachments-label {
    cursor: pointer;
    margin-bottom: 35px;
    width: 100%;
}

.profile__attachments-icon,
.profile__attachments-desc {
    display: inline-block;
    vertical-align: middle;
}

.profile__attachments-icon {
    background-image: url('../img/icons/plus.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    margin-right: 15px;
    color: #2b2b2b;
}

.profile__attachments-desc {
    max-width: 302px;
    font-size: 18px;
    line-height: 1;
}

.profile__modal-cross {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: $bottom-colour;
    &:hover {
        color: black;
    }
}

.profile__attachments-picture {
    background-image: url('../img/pics/participants/project-pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    width: 390px;
    height: 120px;
    margin: 30px 0;
}

// modal fail
.profile__fail-title {
    margin-bottom: 15px;
}

.profile__fail-wrap {
    text-align: center;
    line-height: 1.25;
}

.profile__fail-item {
    position: relative;
    padding-left: 30px;
    &:before {
        content: "•";
        position: absolute;
        left: 10px;
        color: red;
    }
}

.profile__fail-tag {
    background-color: $bottom-colour;
    text-transform: uppercase;
    color: #ffffff;
    padding: 2px;
    display: inline-block;
    font-size: 18px;
}

.profile__fail-list {
    margin: 10px 0;
}

.profile__fail-reason {
    color: red;
}

.profile__fail-tag--secondary {
    background-color: $main-colour;
}

.profile__fail-buttons {
    @include flex(column);
    @include flex-align(center);
    .profile__fail-text {
        margin: 25px 0;
    }
}

.profile__fail-btn {
    width: 265px;
}

.profile__fail-btn {
    &:last-child {
        margin-top: 15px;
    }
}