.wrapper--profile-bg {
    background-image: url('../img/pics/profile-bg.jpg');
    background-size: cover;
    background-position:top center;
    @include phones {
        background-image: url('../img/pics/go.png'), url('../img/pics/bg-mobile.png');
        background-size: contain, cover;
        background-position: 100% 6%, center;
        background-repeat: no-repeat;
    }
}

.profile {
    margin-top: 10%;
    @include desktop {
        margin-top: 100px;
    }
    @include tablets {
        margin-top: 50px;
    }
}

.container--profile {
    @include flex-align(center);
}

.profile__appointment-wrap {
    margin-bottom: 40px;
    text-align: center;
    @include phones {
        display: none;
    }
}

.profile__appointment {
    color: #fff;
    margin-bottom: 15px;
    display: block;
}

.profile__item-title {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}

.profile__list {
    @include flex(row);
    position: relative;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        bottom: 50%;
        margin-bottom: -23px;
        left: -20px;
    }
    @include desktop {
        @include flex-align(center);
        &:after,
        &:before {
            display: none;
        }
    }
}

.profile__item-desc {
    display: flex;
    position: absolute;
    height: 385px;
    width: 270px;
    top: 45px;
    left: -15px; // IE 11
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-end;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    @include desktop {
        height: 350px;
    }
}

.profile__item-info {
    margin-bottom: 20px;
    max-width: 205px;
    @include desktop {
        margin-bottom: 5px;
    }
}

.profile__item {
    @include flex(column);
    align-items: center;
    cursor: pointer;
    position: relative;
    &:after {
        content: '';
        width: 110px;
        background-color: #fff;
        position: absolute;
        height: 4px;
        right: -110px;
        bottom: 50%;
        margin-bottom: -20px;
        outline: 8px solid rgba(255, 255, 255, 0.2);
    }
    &:last-child {
        &:after {
            display: none;
            @include phones {
                display: block;
            }
        }
    }
    &:first-child {
        &:before {
            content: '';
            height: 4px;
            width: 50px;
            position: absolute;
            left: -20px;
            bottom: 50%;
            margin-bottom: -20px;
            background-color: #fff;
            outline: 8px solid rgba(255, 255, 255, 0.2);
        }
    }
    @include desktop {
        margin-right: 20px;
        ;
        margin-bottom: 72px;
        &:after,
        &:before {
            display: none;
        }
        @include phones {
            &:first-child {
                &:after {
                    display: block;
                    height: 80px;
                    width: 4px;
                    right: 50%;
                    margin-right: -4px;
                    top: -20px;
                }
            }
            margin-right: 0;
            &:after {
                display: block;
                height: 210px;
                width: 4px;
                right: 50%;
                top: -100px;
                margin-right: -4px;
            }
        }
    }
}

.profile__title-wrap {
    position: relative;
    background-color: $main-colour;
    padding: 5px 10px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in;
    z-index: 1;
}

.profile__item-wrap {
    width: 240px;
    height: 240px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    transition: all 0.2s ease-in;
}

.profile__item-icon {
    background-image: url('../img/pics/normal.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 110px;
    height: 110px;
    margin-top: -20px;
    z-index: 1;
    transition: all 0.2s ease-in;
}

.profile__item-icon--idea {
    background-image: url('../img/pics/idea.svg');
}

.profile__item-icon--presentation {
    background-image: url('../img/pics/presentation.svg');
}

.profile__item-icon--finals {
    background-image: url('../img/pics/star.svg');
}

.profile__item-status {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    z-index: 2;
}