.wrapper--profile-bg {
    background-image: url('../img/pics/profile-bg.jpg');
    background-size: cover;
    background-position: center;
    
}

.profile {
    margin-top: 210px;
}

.profile__item-title {
    color: white;
    background-color:$main-colour;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.profile__list {
    display: flex;
}

.profile__item-wrap {
    width: 240px;
    height: 240px;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.profile__item-icon {
    background-image: url('../img/pics/normal.svg');
    background-size: cover;
    width: 110px;
    height: 110px;
    margin-top: -20px;
}

.profile__item-status {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.profile__progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color:#0E85C7;
    @include flex(row);
    align-items: center;
}

.profile__progress-percentage {
    width: 50%;
    height: 30px;
    background-color: $main-colour;
}

.profile__progress-text {
    color: white;
    font-weight: bold;
    margin-left: auto;
    margin-right: 20px;
}