extends ../_template
block content
    .wrapper--analytics
        include ../sections/header
        .container--analytics
            section.range
                .range__col.column
                    span.range__period Период
                    .range__rate
                        label.range__label 
                            span c 
                            input(type="date" onchange="getData()" id="test").range__input
                        label.range__label
                            span по 
                            input(type="date" onchange="getData()").range__input
            section.users.analytics-sections
                .users__col.column
                    .users__header
                        span.heading Воронка участников
                        .users__wrap
                            .users__selector.text.text
                                select.input--analytics
                                    option(value="Все направления") Все направления
                                    option(value="placeholder") placeholder
                            .users__selector.text
                                select.input--analytics
                                    option(value="Все направления") Все направления
                                    option(value="placeholder") placeholder
                    .users__charts
                        .users__container
                            .users__wrapper
                                .users__chart(id="chart" data-chart='interview')
                                .ratio.users__ratio
                                    span.rate(id="chartRate") 100%
                            .users__info
                                span.text Прошли видеоинтервью
                            .users__numbers
                                .users__icon
                                span.users__text.text(id="users") 1200
                                span.users__text.text--red.text(id="odds") -25%
                        .users__container
                            .users__wrapper
                                .users__chart(data-chart='brief')
                                .ratio.users__ratio
                                    span.rate 100%
                            .users__info
                                span.text Отправили бриф
                            .users__numbers
                                .users__icon
                                span.users__text.text 1200
                                span.users__text.text--red.text -25%
                        .users__container
                            .users__wrapper
                                .users__chart(data-chart='presentationSent')
                                .ratio.users__ratio
                                    span.rate 100%
                            .users__info
                                span.text Прошли на этап презентация
                            .users__numbers
                                .users__icon
                                span.users__text.text 1200
                                span.users__text.text--red.text -25%
                        .users__container
                            .users__wrapper
                                .users__chart(data-chart='presentationSuccess')
                                .ratio.users__ratio
                                    span.rate 100%
                            .users__info
                                span.text Отправили презентацию
                            .users__numbers
                                .users__icon
                                span.users__text.text 1200
                                span.users__text.text--red.text -25%
                        .users__container
                            .users__wrapper
                                .users__chart(data-chart='finals')
                                .ratio.users__ratio
                                    span.rate 100%
                            .users__info
                                span.text Прошли в финал
                            .users__numbers
                                .users__icon
                                span.users__text.text 1200
                                span.users__text.text--red.text -25%
                .users__col.column
                    .users__header
                        span.heading Менторы
                        .users__wrap
                            .users__selector.text
                                select.input--analytics
                                    option(value="Все направления") Все направления
                                    option(value="placeholder") placeholder
                    .mentors
                        .mentors__container
                            .mentors__wrapper
                                .mentors__chart
                                .ratio.mentors__ratio
                                    span.rate 4000
                            .mentors__stream.text        
                                span.mentors__info Оценивал брифов: основной стрим             
                        .mentors__container
                            .mentors__wrapper
                                .mentors__chart
                                .ratio.mentors__ratio
                                    span.rate 4000
                            .mentors__stream.text        
                                span.mentors__info Оценивал презентации: основной стрим                  
                        .mentors__container
                            .mentors__wrapper
                                .mentors__chart
                                .ratio.mentors__ratio
                                    span.rate 4000
                            .mentors__stream.text        
                                span.mentors__info Оценивал брифов: дополнительный стрим
                        .mentors__container
                            .mentors__wrapper
                                .mentors__chart
                                .ratio.mentors__ratio
                                    span.rate 4000
                            .mentors__stream.text        
                                span.mentors__info Оценивал презентации: дополнительный стрим
            section.info.analytics-sections
                .info__col.column
                    .users__header
                        span.heading Города
                    .info__chart
                        canvas(id="cities")
                .info__col.column
                    .users__header
                        span.heading Вуз
                        .users__wrap
                            .users__selector.text
                                select.input--analytics
                                    option(value="Все направления") Все направления
                                    option(value="placeholder") placeholder
                    .info__chart
                        canvas(id="univer")
                .info__col.column
                    .users__header
                        span.heading Специальность
                        .users__wrap
                            .users__selector.text
                                select.input--analytics
                                    option(value="Все направления") Все направления
                                    option(value="placeholder") placeholder
                    .info__chart
                        canvas(id="branches")
            section.stream.analytics-sections
                .stream__col.column
                    span.heading Направления (Основной стрим)
                    .stream__chart
                        canvas(id="main-stream")
                .stream__col.column
                    span.heading Направления (Дополнительный стрим)
                    .stream__chart
                        canvas(id="secondary-stream")                       







