extends ../_template
block content
  .wrapper.wrapper--auth-bg
      section.title-logo
        a(href="#").logo
          img(src="assets/img/pics/logo-go.png" alt="logo").logo-pic
        .title-logo__wrap  
          img(src="assets/img/pics/title-pic.png" alt="title")
      section.form
          form.form__auth(action="#" id="auth" method="post")
            .form__error.form__error--auth.removed
              span.form__error-icon !
              span.form__error-text Неверный логин или пароль
            p.form__desc Для авторизации в системе введите логин и пароль
            .form__inputs-wrap
              input.form__login(placeholder='Ваш логин/e-mail' type='text' required)
              input.form__password(placeholder='Пароль' type='password' required oninput="checkForm()")
            button.form__auth-btn.btn.btn--inactive(type='submit' form="auth") Войти в систему
            .form__password-reset
              span.form__password-desc Забыли пароль?
              span.form__password-desc Восстановите его по <a class='form__reset-link' href='#'>ссылке</a>