extends ../_template
block content
    .wrapper.wrapper--mentor
        include ../sections/header
        .mentor__overlay
        main.content
            section.content__left
                .list__title__wrap
                    h2.list__title Участники
                    .list__filter
                        .line1
                        .line2
                        .line3
                    .filter__dropdown
                            span.filter__title.title Фильтр
                            ul.filter__top-list
                                li.filter__top-item
                                    label(for="main-appointment").filter__label Основное направление
                                        input(type="checkbox" id="main-appointment" value="main-appointment" checked).filter__checkbox
                                        .filter__label-checkmark
                                li.filter__top-item
                                    label(for="secondary-appointment").filter__label Дополнительное направление
                                        input(type="checkbox" id="secondary-appointment" value="secondary-appointment").filter__checkbox
                                        .filter__label-checkmark
                            ul.filter__bottom-list
                                li.filter__top-item
                                    label(for="new").filter__label Только новые
                                        input(type="checkbox" id="new" value="new").filter__checkbox
                                        .filter__label-checkmark
                                li.filter__top-item
                                    label(for="only-marketing").filter__label Маркетинг
                                        input(type="checkbox" id="only-marketing" value="only-marketing").filter__checkbox
                                        .filter__label-checkmark
                                li.filter__top-item
                                    label(for="only-sales").filter__label Продажи
                                        input(type="checkbox" id="only-sales" value="only-sales").filter__checkbox
                                        .filter__label-checkmark
                                li.filter__top-item
                                    label(for="it").filter__label IT
                                        input(type="checkbox" id="it" value="it").filter__checkbox
                                        .filter__label-checkmark
                                li.filter__top-item
                                    label(for="insights").filter__label Insights
                                        input(type="checkbox" id="insights" value="insights").filter__checkbox
                                        .filter__label-checkmark      
                ul.participants-list
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant.participant--active
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Презентация
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Екатерина Несветаева
                            span.participant__tag Презентация
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня                                                                                                          
            section.content__right
                .participant-info
                  .participant-info__left
                    .participant-info__picture
                        img(src="assets/img/pics/participants/participant.jpg", alt="Фото участника")
                    .participant-info__desc
                        .participant-info__credentials
                            span.participant-info__name Плейсхолдер
                            span.participant-info__surname Плейсхолдрович
                        .participant-info__city
                            span.participant-info__city-label город:
                            span.participant-info__city-name Волгоград
                        .participant-info__education
                            span.participant-info__education-label образования:
                            span.participant-info__education-name ВолгГАСУ
                        span.participant-info__deadline Осталось 4 дня на обработку     
                  .participant-info__right
                    .participant-info__project.title
                        span.participant-info__project-title Презентация
                        span.participant-info__project-name Проект DIGITAL 3.0
                    span.participant-info__files-text Документы проекта:    
                    .participant-info__files
                        a(href="#" download).participant-info__files-image
                        a(href="#" download).participant-info__files-presentation .PPTX
                        a(href="#" download).participant-info__files-docx .DOCX
                  .participant-info__right.participant-info__right--project
                    .participant-info__project.title
                        span.participant-info__project-title Презентация
                        span.participant-info__project-name Проект DIGITAL 3.0
                    span.participant-info__files-text Документы проекта:    
                    .participant-info__files
                        a(href="#" download).participant-info__files-presentation.participant-info__files-presentation--project .PPTX
                        a(href="#" download).participant-info__files-docx .DOCX      
                .participant__assessment
                    .participant__assessment-title.title
                        span.participant__assessment-text Оценка проекта
                    ul.participant__assessment-desc
                        li.participant__assessment-item
                            .participant__assessment-circle
                            span.participant__assessment-info 1-4 - Ниже среднего
                        li.participant__assessment-item
                            .participant__assessment-circle
                            span.participant__assessment-info 5-7 - Среднее  
                        li.participant__assessment-item
                            .participant__assessment-circle
                            span.participant__assessment-info 8-10 - Выше среднего
                    .participant__rate
                        ul.participant__rate-list
                            li.participant__rate-item
                                span.participant__rate-title Ориентированность на будущее
                                .participant__rate-circle
                                    input(type="text" value="8" class="dial" data-width="150" data-fgColor="#009639" data-thickness=".1")
                            li.participant__rate-item
                                span.participant__rate-title Креативность
                                .participant__rate-circle
                                    input(type="text" value="4" class="dial" data-width="150" data-thickness=".1" data-fgColor="#F5913B")
                            li.participant__rate-item
                                span.participant__rate-title Продающая история
                                .participant__rate-circle
                                    input(type="text" value="1" class="dial" data-width="150" data-thickness=".1" data-fgColor="#E72E36")
                            li.participant__rate-item
                                span.participant__rate-title Уровень анализа
                                .participant__rate-circle
                                    input(type="text" value="9" class="dial" data-width="150" data-thickness=".1" data-fgColor="#009639")                            
                .participant__assessment-comment
                    .participant__assessment-title.title
                        span.participant__assessment-text Комментарий
                    form.participant__assessment-form(action="#" id="comment" method="get")
                        input(type="text" placeholder="Оставьте ваш комментарий о работе" oninput="checkLength()").participant__assessment-input
                        button.btn--inactive(id="btnMentor") Отправить оценку

