extends ../_template
block content
    .wrapper.wrapper--mentor
        include ../sections/header
        .content
            section.content__left
                .list__title__wrap
                    h2.list__title Участники
                    .list__filter
                ul.participants-list
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Презентация
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Екатерина Несветаева
                            span.participant__tag Презентация
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon ПР
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Презентация 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня
                    li.participant
                        .participant__left
                            span.participant__icon МН
                        .participant__middle
                            span.participant__name Ардынцев Валентин
                            span.participant__tag Бриф 
                        .participant__right
                            span.participant__time Осталось 4 дня                                                                  
            section.content__right
                .participant-info
                  .participant-info__left
                    .participant-info__picture
                        img(src="assets/img/pics/participants/participant.jpg", alt="Фото участника")
                    .participant-info__desc
                        .participant-info__credentials
                            span.participant-info__name Плейсхолдер
                            span.participant-info__surname Плейсхолдрович
                        .participant-info__city
                            span.participant-info__city-label город:
                            span.participant-info__city-name Волгоград
                        .participant-info__education
                            span.participant-info__education-label образования:
                            span.participant-info__education-name ВолгГАСУ
                        span.participant-info__deadline Осталось 4 дня на обработку     
                  .participant-info__right
                    .participant-info__project
                        span.participant-info__project-title Презентация
                        span.participant-info__project-name Проект DIGITAL 3.0
                    span.participant-info__files-text Документы проекта:    
                    .participant-info__files
                        a(href="#" download).participant-info__files-image
                            img(src="assets/img/pics/participants/project-pic.jpg", alt="image").participant-info__files-image--file
                        a(href="#" download).participant-info__files-presentation .PPTX
                        a(href="#" download).participant-info__files-docx .DOCX
                          

        