extends ../_template
block content
    .wrapper.wrapper--profile-bg
        include ../sections/header
        main.profile
            .container--column.container--profile
                .profile__appointment-wrap
                    span.profile__appointment Ваше направление
                    .profile__title-wrap
                            h2.profile__item-title Маркетинг
                ul.profile__list
                    li.profile__item(data-item="step").profile__item--success 
                        .profile__title-wrap
                            h2.profile__item-title 1. Видеоинтервью
                        .profile__item-wrap
                            .profile__item-icon
                        .profile__item-status
                            button.btn--status.profile__btn Успешно!
                    li.profile__item(id="briefing" data-item="step").profile__item--active
                        .profile__title-wrap
                            h2.profile__item-title 2. Бриф    
                        .profile__item-wrap
                            .profile__item-icon(id="briefingIcon" data-item="step").profile__item-icon--idea
                        .profile__item-status
                            button.btn--status.btn--assessment.profile__btn На оценке!
                        .profile__item-desc
                                span.profile__item-info Прикрепите название проекта и слайды для выступления в финале!    
                    li.profile__item(id="presentation" data-item="step").profile__item--active
                        .profile__title-wrap
                            h2.profile__item-title 3. Презентация
                        .profile__item-wrap
                            .profile__item-icon(id="presentationIcon").profile__item-icon--presentation
                        .profile__item-status
                            button.btn--inactive.profile__btn До 13 апреля
                        .profile__item-desc
                            span.profile__item-info Прикрепите название проекта и слайды для выступления в финале!
                    li.profile__item(id="finals" data-item="step").profile__item--failed
                        .profile__title-wrap
                            h2.profile__item-title 4. Финалы
                        .profile__item-wrap
                            .profile__item-icon(id="finalsIcon").profile__item-icon--finals
                        .profile__item-status
                            button.btn--inactive.profile__btn До 1 мая
                        .profile__item-desc
                            span.profile__item-info Прикрепите название проекта и слайды для выступления в финале!                                     
    .profile__modals-overlay(id='modal')
        .profile__modals(id="briefModal" data-modal='brief')
            .form__error.removed
                span.form__error-icon !
                span.form__error-text Ошибка при заполнении формы. Попробуйте еще раз.
            .profile__attachments
                .profile__guide
                    a(href="#" download).profile__guide-link Ознакомьтесь с заданием
                    span.profile__guide-icon 
                form(action="#").profile__attachments-form
                    .profile__attachments-title
                        span.profile__attachments-text.title назовите свой проект
                    input.profile__attachments-input(type="text" placeholder="Введите название проекта" required id="projectName" oninput="validateProject()")
                    .profile__attachments__files
                        .participant-info__files-docx(id="docx").hidden .DOCX
                        img(src="", alt="Image" id="image").participant-info__files-img.hidden
                    label.profile__attachments-label(id='labelDocx')
                        input(type="file" name="pic" onchange='changeDocx(); validateProject();' required accept=".doc, .docx" id="docxInput" ).profile__attachments-attach
                        .profile__attachments-icon
                        span.profile__attachments-desc Приложите файл с описанием (.DOCX, максимум - 1 страница!)
                    label.profile__attachments-label(id='labelImage')
                        input(type="file" name="pic" accept="image/*" onchange='changeImage(); previewFile(); validateProject();' id="imgInput" required).profile__attachments-attach
                        .profile__attachments-icon
                        span.profile__attachments-desc И прикрепите иллюстрацию
                    button(type="submit" id="submitProject").profile__attachments-btn.btn--inactive Отправить
                span.profile__modal-cross x 
        .profile__modals-presentation(id="presentationModal" data-modal='presentation')
            .form__error.removed
                span.form__error-icon !
                span.form__error-text Ошибка при заполнении формы. Попробуйте еще раз.         
            .profile__attachments-presentation
                .profile__guide
                    a(href="#" download).profile__guide-link Ознакомьтесь с заданием
                    span.profile__guide-icon
                form(action="#").profile__attachments-form
                    .profile__attachments-title
                        span.profile__attachments-text.title проект: digital 3.0
                    .profile__attachments-picture
                    .profile__attachments__files
                        .participant-info__files-docx(id="docxPresentation").hidden .DOCX
                        .participant-info__files-docx(id="pptx").hidden .PPTX
                    label.profile__attachments-label(id='labelDesc')
                        input(type="file" name="pic" accept=".doc, .docx" onchange='changeDesc(); validatePresent();' required id="descInput").profile__attachments-attach
                        .profile__attachments-icon
                        span.profile__attachments-desc Приложите фаил с подробным описанием (.DOCX, объем не ограничен!)
                    label.profile__attachments-label(id='labelPresentation')
                        input(type="file" name="pic" accept=".pptx, .pdf" onchange='changePresentation(); validatePresent();' required id="presentInput").profile__attachments-attach
                        .profile__attachments-icon
                        span.profile__attachments-desc Прикрепите презентацию, с которой будете выступать в финале (.PPTX или .PDF)
                    button(type="submit" id="submitPresent").profile__attachments-btn.btn--inactive Отправить
                span.profile__modal-cross x
        .profile__modals-fail(id="failfModal" data-modal='fail')
            .profile__fail
                .profile__fail-title
                        span.title.title--red вы не справились
                .profile__fail-wrap
                    p.profile__fail-red Вы набрали недостаточно баллов для прохождения в финал по направлению
                    span.profile__fail-tag Маркетинг
                ul.profile__fail-list
                    li.profile__fail-item
                        span.profile__fail-reason недостаточно креативности
                    li.profile__fail-item
                        span.profile__fail-reason низкая харизма
                .profile__fail-wrap
                    p.profile__fail-text Вы ещё можете попробоватьсебя во втором выбранном вами направлении -
                    span.profile__fail-tag.profile__fail-tag--secondary продажи
                .profile__fail-buttons
                    span.profile__fail-text Продолжим?
                    a(href="#").profile__fail-btn.btn--inactive.btn--active Да, продолжить!     
                    a(href="#").profile__fail-btn.btn--inactive.btn--white Нет, спасибо!
                span.profile__modal-cross x             
                    
